<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axun.library_update">

    <application>
        <activity android:name=".update.UpdateAppActivity"
            android:theme="@style/appDialogStyle2"/>
    </application>
</manifest>